.pane {
    -fx-background-color: #131313;
}


.button {
    -fx-background-color: #FF0039;
    -fx-background-radius: 20;
    -fx-text-fill: white;



}

.button:pressed {
    -fx-background-color: #E5DDFF;
    -fx-text-fill: white;
}


.button:disabled{
    -fx-background-color: #DCDCDC;
}


.label {
    -fx-background-color: #FF0039;
    -fx-background-radius: 20;
    -fx-background-size: 25%;

}

.label:pressed {
    -fx-background-color: #D1D1D1;

}

.toggle-button:selected{
    -fx-background-color: #E5DDFF;

}

.slider .track{

    -fx-background-color: #363636;
    -fx-background-insets: 2;

}

.slider .thumb{
    -fx-background-color: #FF0039;
}
.POWER:disabled{
    -fx-fill: grey;
}
.POWER:pressed{
    -fx-fill: grey;
}

